@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    min-height: 1px;
    background: linear-gradient(to right, #333399, #ff00cc);
    position: relative;

}

.site-header {
    background: rgba(255, 255, 255, 0.7);
    height: 50px;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 5px;
    width: 101.9%;

}

.site-header img {
    height: 64px;
    width: 64px;
    margin-top: -7px;
}

.site-header h1 {
    font-size: 30px;
    font-weight: lighter;
    margin-top: -64px;
    margin-left: 72px;
}


.site-header .dropbtn {
    position: absolute;
    top: 8px;
    /*left: 95%;*/
    right: 8px;
    border-radius: 20px;
    outline: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    min-width: 160px;
    top: 40px;
    right: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    outline: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: rgba(21, 21, 21, .35);
    border-radius: 20px;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background: rgba(21, 21, 21, .5);
}

.site-one-block {

    width: auto;
    height: auto;
    background: rgba(255, 255, 255, .4);
    border-radius: 30px;
}

.site-one-block h1 {
    font-size: 24px;
    font-weight: lighter;
    padding-top: 8px;
    margin-left: 10px;
}

.site-one-block p {
    font-size: 16px;
    margin-top: -20px;
    margin-left: 10px;
}

.site-row-two {
    display: flex;

}

.flex-child {
    flex: 1;
    width: 50%;

}



.site-row-two .flex-child:first-child .site-two-block-half {
    background: rgba(255, 255, 255, .25);
    /*width: 50%;*/
    border-radius: 30px;
}

.site-row-two .site-two-block-half h1 {
    font-size: 24px;
    font-weight: lighter;
    padding-top: 8px;
    margin-left: 10px;
}

.site-row-two .site-two-block-half p {
    font-size: 16px;
    margin-top: -2.5%;
    margin-left: 10px;
}


.site-row-two .flex-child .site-three-block-half {
    background: rgba(255, 255, 255, .4);
    /*width: 50%;*/
    height: 135px;
    margin-left: 10px;
    border-radius: 30px;
}
.site-row-two .site-three-block-half h1 {
    font-size: 24px;
    font-weight: lighter;
    padding-top: 8px;
    margin-left: 10px;
}

.site-row-two .site-three-block-half .Site-three-block-half-github{
    margin-left: 10px;
}

.site-row-two .site-three-block-half .icon-tabler-brand-github {
    margin-top: -10px;
}

.site-row-two .site-three-block-half .site-three-block-half-github-text {
    margin-left: 40px;
    margin-top: -30px;
}

.site-row-two .site-three-block-half .site-three-block-half-twitch{
    margin-left: 10px;
}

.site-row-two .site-three-block-half .icon-tabler-brand-twitch {
    margin-bottom: 10px;
}


.site-row-two .site-three-block-half .Site-three-block-half-twitch-text {
    margin-left: 40px;
    margin-top: -45px;
}

























